<router-outlet></router-outlet>
<div class="dropdown float-right m-3 mr-5">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
    Welcome {{user.username}}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <button class="dropdown-item" (click)="signOut()">Sign Out</button>
  </div>
</div>
<div class="container">
  <section class="row pricing py-5" *ngIf="this.customerId">
    <div class="col-md-4 mt-lg-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-muted text-uppercase text-center">Basic</h5>
          <h6 class="card-price text-center">{{9.99 | currency:'EUR'}}<span class="period">/month</span></h6>
          <hr>
          <ul>
            <li><strong>250GB Storage as a local drive</strong></li>
          </ul>
          <button class="btn btn-block btn-primary text-uppercase" (click)="subscribeQuarterTB()">Subscribe</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-lg-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-muted text-uppercase text-center">Pro</h5>
          <h6 class="card-price text-center">{{14.99 | currency:'EUR'}}<span class="period">/month</span></h6>
          <hr>
          <ul>
            <li><strong>500GB Storage as a local drive</strong></li>
          </ul>
          <button class="btn btn-block btn-primary text-uppercase" (click)="subscribeHalfTB()">Subscribe</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-lg-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-muted text-uppercase text-center">Master</h5>
          <h6 class="card-price text-center">{{24.99 | currency:'EUR'}}<span class="period">/month</span></h6>
          <hr>
          <ul>
            <li><strong>1TB Storage as a local drive</strong></li>
          </ul>
          <button class="btn btn-block btn-primary text-uppercase" (click)="subscribeOneTB()">Subscribe</button>
        </div>
      </div>
    </div>
  </section>
</div>
